/* Variables set on the root scope */
:root {
  /* Starbucks green */
  --color-primary: #006241;
  --color-secondary: #333;
  --color-extra: #d4e9e2;
}

/* Reset */
*,
::before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0.5rem 0;
  line-height: 1.7;
}

main,
section,
section a {
  color: #1e3932;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border-radius: 5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn-dark-outline {
  border: 0.1rem var(--color-secondary) solid;
  color: var(--color-secondary);
}

.btn-dark-outline:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: var(--color-secondary);
}

/* Header */
header {
  width: 100%;
  height: 126px;
  background-color: #fff;
  padding: 2rem 3rem;
  box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 10%), 0 0.2rem 0.2rem rgb(0 0 0 / 6%),
    0 0 0.2rem rgb(0 0 0 / 7%);
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1440px; */
  margin: 0 auto;
  padding-left: 1rem;
}

.logo {
  width: 51px;
  height: 51px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 1.5rem;
  font-weight: bold;
}

.navbar a {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar button {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 2rem;
}

.nav-right li:nth-child(1) {
  margin-right: 3rem;
}

.nav-right li:nth-child(1) a {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
