/* Variables set on the root scope */
:root {
  --color-logo: #006241;
  --color-navlinks: #333;
  --color-txtContent: #1e3932;
}

/* Reset */
*,
::before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h2 {
  font-size: 4rem;
  color: var(--color-txtContent);
  line-height: 1.4;
}

p {
  font-size: 1.8rem;
}

main,
section,
section a {
  color: #1e3932;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 0.2rem var(--color-txtContent) solid;
  color: var(--color-navlinks);
  border-radius: 5rem;
  padding: 0.5rem 1.4rem;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-dark:hover {
  background-color: var(--color-navlinks);
}

/*! HEADER */
header {
  max-width: 100%;
  height: 126px;
  background-color: #fff;
  padding: 2rem 3rem;
  box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 10%), 0 0.2rem 0.2rem rgb(0 0 0 / 6%),
    0 0 0.2rem rgb(0 0 0 / 7%);
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 51px;
  height: 51px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 1rem;
  font-weight: bold;
}

.navbar a {
  color: var(--color-navlinks);
  font-size: 1.5rem;
}

.navbar a:hover {
  color: var(--color-logo);
}

.navbar button {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 2rem;
}

.nav-right li:nth-child(1) {
  margin-right: 3rem;
}

.nav-right li:nth-child(1) a {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

/* Mobile nav */
#burger {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
}

.line-top,
.line-middle,
.line-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.line-middle {
  transform: translateY(7px);
}

.line-bottom {
  transform: translateY(14px);
}

.open .line-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .line-middle {
  display: none;
}

.open .line-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.hidden {
  transform: translateX(100%);
}

#burger-menu {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 3rem 5rem;
  box-shadow: inset 0 0.4rem 0.3rem -0.3rem rgb(0 0 0 / 10%),
    inset 0 0.4rem 0.2rem -0.2rem rgb(0 0 0 / 7%);
  transition: all 0.3s;
  z-index: 20;
}

#burger-menu img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

#burger-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3;
  margin-bottom: 2rem;
}

#burger-menu a {
  font-size: 2rem;
}

#burger-menu a:hover {
  color: var(--color-logo);
}

.mobile-menu-bottom {
  margin-top: 3rem;
}

.mobile-menu-bottom a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

.mobile-menu-bottom .btn:nth-child(1) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.mobile-menu-bottom span {
  font-size: 1.5rem;
}

/*! MAIN */
main {
  height: calc(100vh - 126px);
  /* 126px = height of header */
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

main .txt-content,
main .img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 126px);
  width: 50%;
  height: 100%;
}

.mainImg {
  width: 300px;
}

main .txt-content {
  text-align: center;
  color: var(--color-txtContent);
  margin-bottom: 3;
  gap: 4rem;
}

main .txt-content a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-txtContent);
}

/*! THUMBNAILS */
.thumbnails {
  position: absolute;
  left: 50%;
  bottom: 20px;
  max-width: 100%;
  display: flex;
  transform: translateX(-50%);
}

.thumbnails li {
  display: inline-block;
  margin: 0 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.thumbnails li:hover {
  transform: translateY(-15px);
}

.thumbnails li img {
  max-width: 62px;
}

/* ! CIRCLE */
.circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 75%;
  border-top-left-radius: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--color-logo);
}

/* ! BOXES AND FOOTER*/
section,
footer {
  max-width: 100%;
}

section {
  margin-bottom: 2rem;
  max-width: 100%;
  height: 100%;
}

section .txt-content,
section .img-content {
  width: 100%;
  height: 100%;
}

section .txt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-txtContent);
  padding: 2rem;
  gap: 4rem;
}

section .img-content,
section .img-content img {
  width: 100%;
  height: 100%;
}

section .img-content img {
  object-fit: cover;
}

section .txt-content a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-txtContent);
}

.macadamia {
  background: #cbe678;
}

.mom {
  background: #eb81a5;
}

.hive {
  background: #f1ff67;
}

footer {
  padding: 0 3rem 3rem;
}

.social-links {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.social-links img {
  width: 32px;
  height: 32px;
}

.social-links a {
  margin-right: 20px;
}

footer p {
  font-size: 1.5rem;
}

.divider {
  max-width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 2rem auto 4rem;
}

/* Grid Styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

/*! SCREEN ORIENTATION MESSAGE */
#turn {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 100;
}

#turn div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#turn div p {
  font-size: 3rem;
}

/*! MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  main .txt-content {
    justify-content: center;
  }
  .mainImg {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 1.6rem;
  }
  header {
    height: 80px;
  }
  #burger,
  #burger-menu {
    display: block;
  }
  .navbar .nav-left,
  .navbar .nav-right {
    display: none;
  }
  main {
    flex-direction: column-reverse;
    height: calc(100vh - 80px);
    padding: 1rem;
  }
  main .txt-content,
  main .img-content {
    height: calc((100vh - 80px) / 2);
    width: 100%;
  }
  main .txt-content {
    gap: 3rem;
  }
  main .img-content {
    align-items: flex-end;
  }
  .mainImg {
    width: 160px;
  }
  section .txt-content {
    gap: 2rem;
  }
  .circle {
    bottom: 47%;
    height: 40%;
  }
  .thumbnails {
    bottom: 48%;
    left: 50%;
  }
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
  .reversed {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  footer {
    padding: 0 1rem 2rem;
    text-align: center;
  }
  .social-links {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 530px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  h2 {
    font-size: 2.5rem;
  }
  main .txt-content {
    gap: 2rem;
  }
  .mainImg {
    width: 130px;
  }
  .thumbnails li img {
    max-width: 48px;
  }
  .social-links {
    padding-left: 1rem;
  }
}
/* Screen orientation message */
@media (orientation: landscape) and (max-width: 992px) {
  #turn {
    display: block;
  }
}

